$white-color: #fff;
$gray-color: #808080;
$black-color: #141419;
$snow-white-color: #fffafa;
$font-color: #05050a;
$smoky-white-color: #f0f0f5;

$control-max-height: 45px;
$control-border-radius: 5px;

$gap: 5px;

$mobile: "only screen and (max-width : 479px)";